.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: rgb(224, 98, 119);
}

.set-block {
    background-color: grey;
}