.red {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
    background: radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #FF2800;
}

.green {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
    background: radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #1da335;
}

.blue {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
    background: radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #1a12ae;
}

.purple {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
    background: radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #a013a8;
}

.orange {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
    background: radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #ff9809;
}

.pink {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
    background: radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #ff0077;
}

.set-block {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 15%;
    background: radial-gradient(circle at 35% 35%, #0000, 70%, #0005) #7a7473;
}