body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    font-size: 6.0vh;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
    color: grey;
}

.header::after {
    content: "Archie's Block Game";
}

.score {
    background-color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
}

button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 2.0vw;
    font-weight: bold;
    color: black;
}

.flip {
    transform: rotate(180deg);
}

.left-right-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.border {
    background-color: black;
}